label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  background-color: #eee;
  color:black;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.hero-info{
  margin : auto;
  padding: 5%;
  text-align: center;
}
.hero-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lab{
  display: flex;
  justify-content: center;
}
.buttons{
  display: flex;
  justify-content: center;
}
.left{

}

